/*register.php and shared pages style*/
#wrapper{
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    min-height: 100%;
    margin-bottom: 80px;
    max-width: 1150px;
    position: relative;
}

#page_header{
    float: left;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #00AEEF;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    margin-bottom: 20px;
}

#logo{
    float: left;
}

#page_name{
    float: right;
    margin-top: 20px;
}


#welcome{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #00AEEF;
}
#greetings{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #4A4A4A;
    line-height: 22px;
    text-align: center;
    clear: both;
}

#list{
    float: right;
}

a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #00AEEF;
    text-decoration: underline;
}

#full_body{
    background: #EDF6F9;
}

#data_form{
    text-align: center;
    width: 50%;
    align-content: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #00AEEF;
}

.form_full_width{
    line-height: 0%;
    text-align: left;
    align-content: center;
    clear: both;
}

.form_half_width{
    line-height: 0%;
    width: 100%;
}

.form_col1{
    text-align: left;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-right: 1%;
}

.form_col2{
    text-align:left;
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

#button_submit{
    background: #00AEEF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFFFFFFF; 
}

#button_container{
    margin-top: 1%;
    align-content: left;
    width: 25%;
}


input{
    width: 100%;
    background: #FFFFFFFF;
    border-radius: 8px;
}

select{
    width: 100%;
    background: #FFFFFFFF;
    border-radius: 8px;
}

.form_col{
    float: left;
    width: 50%;
}

#insert{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #00AEEF;
}

.footer{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #00AEEF;
    background: #EEEEEE;
    position: fixed;
    left: 0px;
    bottom: 0;
    right:0;
    width: 100%;
    text-align: center;
}

/*client_list styles */

#insert_new .a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #00AEEF;
    text-decoration: underline;
}

#page_title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: #00AEEF;
}

#results{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #4A4A4A;
}

#php_result{
    color: #00AEEF;
}

#last_reg{
    display: inline-block;
    width: 57%;
    text-align: right;
}

#page_title, #results{
    display: inline-block;
    width: 20%;
    margin-right: 1%;
}